<mat-toolbar color="primary">
  <span class="title-center">Početna</span>
</mat-toolbar>

<div class="column" [routerLink]="['/tip_racuna']">
  <div class="card">
    <div class="naslov">
      <h1>TIPOVI RAČUNA</h1>
    </div>
    <div class="img">
      <img src = "assets\kartice.png" width="100%">
    </div>
  </div>
</div>

<div class="column" [routerLink]="['/kredit']">
  <div class="card">
    <div class="naslov">
      <h1>KREDITI</h1>
    </div>
    <div class="img">
      <img src = "assets\kredit.png" width="100%">
    </div>
  </div>
</div>

<div class="column" [routerLink]="['/klijent']">
  <div class="card">
    <div class="naslov">
      <h1>KLIJENTI</h1>
    </div>
    <div class="img">
      <img src = "assets\klijent.png" width="100%">
    </div>
  </div>
</div>
