<mat-toolbar color="primary">
  <span class="title-center">O nama</span>
</mat-toolbar>


<div class="column">
  <div class="card">
    <div class="naslov">
      <h1>Fakultet tehničkih nauka, Novi Sad</h1>
    </div>
    <div class="img">
      <img src = "assets\ftn.jpg" width="100%">
    </div>
    <div class="container">
      <p class="title">Fakultet tehničkih nauka je jedna od najsavremenije organizovanih visokoobrazovnih
        institucija u regionu sa tradicijom dugom 59 godina, poznat i priznat u celom svetu, a inženjeri
        obrazovani na ovom Fakultetu, rade i postižu zapažene rezultate u svakom preduzeću koje ima veze
        sa tehnologijom, proizvodnjom, obrazovanjem ili uslugama, jer od svih zanimanja koja se u našoj
        zemlji obrazuju, tehnika je i dalje najtraženija. Fakultet je osnovan 18. maja 1960. godine kao
        Mašinski fakultet. Snažan razvoj privrede i potrebe društva doprinele su pokretanju novih struka
        elektrotehnike i građevinarstva, tako da je 1974. godine Mašinski fakultet prerastao u Fakultet
        tehničkih nauka. Danas je akreditovano ukupno 90 studijskih programa svih nivoa, koji pokrivaju tehničko-tehnološko polje, prirodno-matematičko polje, umetničko polje i medicinsko polje kroz interdisciplinarne studije. </p>
      <p class="kontakt">Trg Dositeja Obradovića 6, Novi Sad. <br> Tel: +381 21 450 810</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <div class="naslov">
      <h2>Departman za industrijsko inženjerstvo i menadžment</h2>
    </div>
    <div class="img">
      <img src = "assets\departman.jpg" width="100%">
    </div>
    <div class="container">
      <p class="title">Departman je nastao stalnim razvojem Katedre za unapređenje industrijske proizvodnje koja
        je osnovana 1960. godine u okviru tadašnjeg Mašinskog fakulteta u Novom Sadu, prema osnovnim prilazima
        koje je postavio akademik prof. dr Dragutin Zelenović sa svojim saradnicima. Danas, ovaj departman sa 121
        zaposlenih i sa najvećim brojem studenata na studijskim programima, predstavlja jedinstven naučni i istraživački
        prostor u kome se proučavaju inženjerske, organizacione, menadžerske i ekonomske discipline. Departman predstavlja
        vrlo značajnu organizacionu jedinicu na Fakultetu tehničkih nauka, stalno prisutnu u privrednom okruženju Republike
        Srbije i regiona. Od osnivanja  Departmana za industrijsko inženjerstvo i inženjerski menadžment diplome je steklo
        951 diplomiranih inženjera, 1629 mastera, 147 magistra nauka, 104 doktora nauka, 140 MBA i 134 strukovnih specijalista.</p>
      <p class="kontakt">Rukovodilac departmana: Dubravko Ćulibrk <br> Email: dculibrk@uns.ac.rs</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <div class="naslov">
      <h1>Razvoj višeslojnih aplikacija</h1>
    </div>
    <div class="img">
      <img src = "assets\rva.jpg" width="100%">
    </div>
    <div class="container">
      <p class="title">Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i savlađivanje
        metoda i tehnika analize, projektovanja i implementacije. Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih
        aplikacija koje karakteriše skalabilnost i koje se izvršavaju u distribuiranom okruženju.
        Slušaoci predmeta će tokom pohađanja nastave steći neophodna znanja o metodama i tehnikama razvoja višeslojnih aplikacija i
        biti osposobljeni za njihovu primenu u svim fazama razvoja softvera - od analize sistema do uvođenja razvijenih rešenja u
        upotrebu. Isto tako, studenti će steći veštine potrebne za korišćenja odabranih razvojnih okruženja. Nastava se odvija kroz
        predavanja i računarske vežbe. Tokom vežbi student je obavezan da uradi praktično orijentisane zadatke.</p>
      <p>prof. dr Đorđe Pržulj: przulj@uns.ac.rs <br> Marko Bojkić:	marko.bojkic@uns.ac.rs <br> Jelena Petrovački: jelenapetrovacki@uns.ac.rs</p>
    </div>
  </div>
</div>
