.container {
  display: flex;
  flex-direction: column;
}


.title-center {
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  height: 900px;
}

.h1, .h2 {
  padding:0px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: justify;
  text-justify: inter-word;
}

.naslov{
  height: 80px;
  text-align: center;
  align-items: center;
  float: center;
  background-color: primary;
  padding-top: 12px;
  padding-bottom: 39px;
}
.img{
  height: 180px;
  padding-bottom: 50px;
}
